.navbar {
    background-color: #3f51b5;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .nav-link .material-icons {
    margin-right: 5px;
  }
  
  .nav-link:hover {
    background-color: #303f9f;
  }
  
  .detail-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  strong {
    display: block;
    margin-bottom: 5px;
  }
  